/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Main Container */
.container {
    background: #ffffff;
    width: 450px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* Menu Section */
.menu {
    text-align: center;
    margin-bottom: 20px;
   
}

.menu h3 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
     background-color: #216b96;
     border-radius: 10px;
}

/* Form Area */
.form {
    margin-top: 10px;
}

.inside div {
    margin-bottom: 18px;
}

/* Labels + Inputs */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #0066ff;
    box-shadow: 0 0 6px rgba(0,102,255,0.3);
    outline: none;
}

/* Submit Button */
#but {
    width: 100%;
    background-color:green;
    color: white;
    padding: 12px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

#but:hover {
    background-color: #004fcc;
}
a{
	font-family:sans-serif;
	font-family: 10px;
	color: blue;
}