@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    flex-direction:column;
    gap: 20px;
 
}

#h {
    font-family: fantasy;
    font-size: 50px;
    color: blue;
}

#lab {
    font-size: 25px;
    font-family: fantasy;
}

#but {
    background-color: green;
    border: 1px solid black;
    border-radius: 25%;
    font-size: 25px;
    font-family: fantasy;
    padding: 10px 20px;
    cursor: pointer;
}

h3 {
    font-family: sans-serif;
    font-size: 25px;
}
